        <div class="content">
        	<div class="leftPart">
            	<div class="gamecontent">
                    <div class="title">
                        <span class="position"><a href="../../index.html" title="首页">首页</a>><a href="gamelist_1.html" title="游戏中心">游戏中心</a>>游戏内容</span>
                        <img src="../../images/Default/game_content.png" alt="游戏内容" width="78" height="36"/>
                    </div>
                    <div class="gamedetail">
                        <div class="left">
                            <img src="../../images/ImageUpload/Game/mengxian/gamemain.png" width="108" height="108" alt="萌仙" />
                        </div>
                        <div class="left listcontent">
                            <div>萌仙</div>
                            <div class="listdata"><span style="font-family:SimSun;letter-spacing:0px;line-height:normal;text-align:justify;">拥有精美的游戏画面和独特的跨职业技能玩法、部族发展经营玩法；拥有特色养成、精彩战斗和经营玩法三大特色玩法。</span><span style="font-family:SimSun;line-height:normal;text-align:justify;">拥有战士、猎 手、祭司三大职业，分别在体能、灵巧与破坏力上各具优势，每个角色拥有六大属性，可以按自己的想法自由配置属性成长，打造自己的个性角色！</span></div>
                            <div class="listbottom">
                                <span>分享到：</span>
                                <div class="bshare-custom"><div class="bsPromo bsPromo2"></div><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div><script type="text/javascript" charset="utf-8" src="../static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="../static.bshare.cn/b/bshareC0.js"></script>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="blank10"></div>
                    <div class="gamedown">
                    	<div class="imghead">
                        	<ul id="gameimgnav">
                                                            	<li class="on">安卓下载</li>
                            	                            </ul>
                        </div>
                        <div id="gamedowns">
							<div class="gamedowns_left">
                        	    <div class="downbroad">
                            	    <div class="downdetail"><img src="../../images/ImageUpload/Game/mengxian/Android2DCode/635518406586495000.png" width="110" height="110" alt="萌仙Andriod版下载二维码" /></div>
                                    <div class="downdata">
                                	    <div>下载：已下载<span class="deepred">18</span>次</div>
                                        <div style="height:48px;">
                                        适用于Android2.0\2.12.2\2.3\4.0\4.1\4.2\4.3
                                        </div>
                                        <a href="GameDown_1410b0.html?type=1" title="付费下载" target="_blank"><img src="../../images/Default/downtopc.png" width="100" height="30" alt="付费下载" /></a>
										<a href="GameDown_142296.html?type=1&amp;gift=1" title="免费下载" target="_blank"><img src="../../images/Default/downtopc_02.png" width="100" height="30" alt="免费下载" /></a>
                                    </div>
                            	    <div class="clear"></div>
                                </div>
                        	    <div class="downbroad dn">
                            	    <div class="downdetail"><img src="../../images/ImageUpload/Game/mengxian/IOS2DCode/635518406586495000.png" width="110" height="110" alt="萌仙IOS版下载二维码" /></div>
                                    <div class="downdata">
                                	    <div>下载：已下载<span class="deepred">18</span>次</div>
                                        <div  style="height:48px;">
                                        
                                        </div>
                                        <a href="GameDown_140dab.html?type=2" title="付费下载" target="_blank"><img src="../../images/Default/downtopc.png" width="100" height="30" alt="付费下载" /></a>
										<a href="GameDown_148eb7.html?type=2&amp;gift=1" title="免费下载" target="_blank"><img src="../../images/Default/downtopc_02.png" width="100" height="30" alt="免费下载" /></a>
                                </div>
                            	<div class="clear"></div>
                            </div>
							</div>
							<div class="gamedowns_right">
								<p>付费下载说明：</p>
								<p class="p1">本游戏通过付费下载，玩家可以获得快乐游戏独家礼包，价值1888元宝。</p>
								<p class="p2">付费金额：<span>￥5</span>元</p>
							</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            	<div class="gameimglist">
                    <div class="title">
                        <img src="../../images/Default/game_truncation.png" alt="游戏截图" width="78" height="36"/>
                    </div>
                    <div class="imagesbroad">
                    	<div class="imagelist">
                            <ul>
                                                                <li>
                                    <a class="link_colorbox" href="../../images/ImageUpload/Game/mengxian/GameImage/full_635518434660557500.jpg" title="6"><img src="../../images/ImageUpload/Game/mengxian/GameImage/635518434660557500.jpg" width="310" height="208" alt="6" /></a>
                                </li>
                                                                <li>
                                    <a class="link_colorbox" href="../../images/ImageUpload/Game/mengxian/GameImage/full_635518434660088750.jpg" title="5"><img src="../../images/ImageUpload/Game/mengxian/GameImage/635518434660088750.jpg" width="310" height="208" alt="5" /></a>
                                </li>
                                                                <li>
                                    <a class="link_colorbox" href="../../images/ImageUpload/Game/mengxian/GameImage/full_635518434659776250.jpg" title="4"><img src="../../images/ImageUpload/Game/mengxian/GameImage/635518434659776250.jpg" width="310" height="208" alt="4" /></a>
                                </li>
                                                                <li>
                                    <a class="link_colorbox" href="../../images/ImageUpload/Game/mengxian/GameImage/full_635518434658995000.jpg" title="3"><img src="../../images/ImageUpload/Game/mengxian/GameImage/635518434658995000.jpg" width="310" height="208" alt="3" /></a>
                                </li>
                                                                <li>
                                    <a class="link_colorbox" href="../../images/ImageUpload/Game/mengxian/GameImage/full_635518434658526250.jpg" title="2"><img src="../../images/ImageUpload/Game/mengxian/GameImage/635518434658526250.jpg" width="310" height="208" alt="2" /></a>
                                </li>
                                                                <li>
                                    <a class="link_colorbox" href="../../images/ImageUpload/Game/mengxian/GameImage/full_635518434657901250.jpg" title="1"><img src="../../images/ImageUpload/Game/mengxian/GameImage/635518434657901250.jpg" width="310" height="208" alt="1" /></a>
                                </li>
                                                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="imagebtn">
                        	<a class="img_pre" href=""></a><a class="img_btn chosen" href=""></a><a class="img_btn" href=""></a><a class="img_btn" href=""></a><a class="img_next" href=""></a>
                        </div>
                    </div>
                </div>
            </div>
            
<div class="rightPart">
    <div class="news">
        <div class="title">
            <a class="more" href="InfoList_1.html">更多>></a>
            <img src="../../images/Default/news_bulletin.png" alt="新闻公告" width="78" height="36"/>
        </div>
        <div class="newsdata" style="height: 341px;">
            <ul>
                                <li><a href="InfoDetail_16.html" title="[平台] 《雷炎战机_云霄突袭》双旦有惊喜，新年天天送豪礼">[平台] 《雷炎战机_云霄突袭》双旦有惊喜，新年天天送豪礼</a><span>[12-24]</span></li>
                                <li><a href="InfoDetail_14.html" title="[萌侠] 《萌侠》装备锻造大揭秘 强化篇">[萌侠] 《萌侠》装备锻造大揭秘 强化篇</a><span>[11-18]</span></li>
                                <li><a href="InfoDetail_9.html" title="[萌侠] Q萌武侠《萌侠》11月19日不删档内测">[萌侠] Q萌武侠《萌侠》11月19日不删档内测</a><span>[11-18]</span></li>
                                <li><a href="InfoDetail_8.html" title="[平台] 西山居何榛杰：让RPG扮演元素重回游戏重心">[平台] 西山居何榛杰：让RPG扮演元素重回游戏重心</a><span>[11-18]</span></li>
                                <li><a href="InfoDetail_7.html" title="[平台] 休闲动作《恐怖!特技滑翔伞》登陆双平台">[平台] 休闲动作《恐怖!特技滑翔伞》登陆双平台</a><span>[11-18]</span></li>
                                <li><a href="InfoDetail_3.html" title="[红警4] 《红警4》4.5.3版本更新日志">[红警4] 《红警4》4.5.3版本更新日志</a><span>[11-17]</span></li>
                                <li><a href="InfoDetail_2.html" title="[红警4] 《红警4》紫色英雄黑寡妇降临">[红警4] 《红警4》紫色英雄黑寡妇降临</a><span>[11-17]</span></li>
                                <li><a href="InfoDetail_13.html" title="[萌侠] 《萌侠》人物养成之天赋培养篇">[萌侠] 《萌侠》人物养成之天赋培养篇</a><span>[11-17]</span></li>
                                <li><a href="InfoDetail_4.html" title="[猫之战争] 猫之战争Cat War v1.0 策略塔防游戏">[猫之战争] 猫之战争Cat War v1.0 策略塔防游戏</a><span>[11-16]</span></li>
                                <li><a href="InfoDetail_10.html" title="[平台] 疯狂射击怎么操作 游戏操作技巧详解">[平台] 疯狂射击怎么操作 游戏操作技巧详解</a><span>[11-16]</span></li>
                                <li><a href="InfoDetail_11.html" title="[平台] 经典再续《愤怒的小鸟卡丁车》修改版介绍">[平台] 经典再续《愤怒的小鸟卡丁车》修改版介绍</a><span>[11-15]</span></li>
                            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="service">
        <div class="title">
            <img src="../../images/Default/contact_us.png" alt="联系我们" width="78" height="36"/>
        </div>
        <div class="servicedata">
            <div class="serviceqq">客服 QQ  ：2401846935</div>
            <div class="email">客服信箱  ：13416445011@139.com </div>
            <div class="qqun">玩家交流群：339093384</div>
        </div>
    </div>
</div>
            <div class="blank40"></div>
        </div>