    <div class="footer">
        <div style="width:980px; margin:0 auto; color:#fff; padding-top:22px;">
            <div style="display:none;"></div>
            抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。
            <div style="font-weight: bold; font-size: 17px;">
                <a style="color: #FCD20A;" href="InfoDetail_18.html" target="_blank">防沉迷系统指南</a> |
                <a style="color: #4CB649;" href="InfoDetail_17.html" target="_blank">防沉迷系统问题</a> |
                <a style="color: #17518A;" href="jzjh.html" target="_blank">家长监护工程</a> |
                <a style="color: #1A1C28;" href="InfoDetail_15.html" target="_blank">交易纠纷处理</a> |
                <a style="color: #FCD20A;" href="InfoDetail_19.html" target="_blank">用户服务协议</a> |
                <a style="color: #4CB649;" href="InfoDetail_20.html" target="_blank">用户守则</a>
            </div>
            <div><p>Copyright 2007-2014 哈皮吉姆科技（上海）有限公司 版权所有 All Rights Reserved<br/>沪ICP备14048273号-1</p></div>
            <div class="blank10"></div>
        </div>
    </div>