        <div class="content">
            <div class="banner">
                <ul>
                    <li>
                        <a href="index.html" target="_blank"><img src="images/ImageUpload/Advertisement/980_382_635518396845088750.jpg" width="980" height="382" alt="萌仙" /></a>
                    </li>
                    <li>
                        <a href="index.html" target="_blank"><img src="images/ImageUpload/Advertisement/980_382_635518397059776250.jpg" width="980" height="382" alt="萌侠" /></a>
                    </li>
                </ul>
            </div>
            <div class="blank10"></div>
            <div class="recom">
                <ul>
                   <li><a href="gamedetail_14.html" target="_blank"><img src="images/ImageUpload/Game/mengxian/recom_index.jpg" width="316" height="128" alt="萌仙" /></a></li>
                   <li class="mid"><a href="gamedetail_19.html" target="_blank"><img src="images/ImageUpload/Game/mengxia/recom_index.jpg" width="316" height="128" alt="萌侠" /></a></li>
                   <li><a href="gamedetail_20.html" target="_blank"><img src="images/ImageUpload/Game/l/recom_index.jpg" width="316" height="128" alt="雷炎战机云霄突袭" /></a></li>
                </ul>
            </div>
            <div class="blank10"></div>
            <div>
                <div>
                    <div class="hotgame">
                        <div class="title">
                            <a class="more" href="gamelist_1.html">更多>></a>
                            <img src="images/Default/hot_game.png" alt="热门游戏" width="78" height="36"/>
                        </div>
                        <div class="data">
                            <ul>
                                <li class="li_paddingright" >
                                    <div>
                                        <div class="gameimg"><img src="images/ImageUpload/Game/mengxia/gamemain.png" width="76" height="76" alt="萌侠" /></div>
                                        <div class="gamedata">
                                            <div class="gametitle"><a href="#/main/gameDetail/19" title="">萌侠</a></div>
                                            <div class="gamedesc"><a href="#/main/gameDetail/19">《萌侠》融合武侠的武学、经脉、绝技等特色玩法；以偏...</a></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="game_btn">
                                        <a class="download_btn" href="#/main/gameDetail/19" title="游戏下载"></a>
                                        <a class="enter_btn" href="#/main/gameDetail/19" title="进入官网"></a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="gameimg"><img src="images/ImageUpload/Game/l/gamemain.png" width="76" height="76" alt="雷炎战机云霄突袭" /></div>
                                        <div class="gamedata">
                                            <div class="gametitle"><a href="#/gamedetail_20.html" title="">雷炎战机云霄突袭</a></div>
                                            <div class="gamedesc"><a href="gamedetail_20.html">雷炎战机是一款飞行射击类游戏，沿袭传统飞行射击游戏...</a></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="game_btn">
                                        <a class="download_btn" href="gamedetail_20.html" title="游戏下载"></a>
                                        <a class="enter_btn" href="gamedetail_20.html" title="进入官网"></a>
                                    </div>
                                </li>
                                <li class="li_paddingright" >
                                    <div>
                                        <div class="gameimg"><img src="images/ImageUpload/Game/mengxian/gamemain.png" width="76" height="76" alt="萌仙" /></div>
                                        <div class="gamedata">
                                            <div class="gametitle"><a href="gamedetail_14.html" title="">萌仙</a></div>
                                            <div class="gamedesc"><a href="gamedetail_14.html">拥有精美的游戏画面和独特的跨职业技能玩法、部族发展...</a></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="game_btn">
                                        <a class="download_btn" href="gamedetail_14.html" title="游戏下载"></a>
                                        <a class="enter_btn" href="gamedetail_14.html" title="进入官网"></a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="gameimg"><img src="images/ImageUpload/Game/tgxxcq/gamemain.png" width="76" height="76" alt="糖果星星传奇" /></div>
                                        <div class="gamedata">
                                            <div class="gametitle"><a href="gamedetail_17.html" title="">糖果星星传奇</a></div>
                                            <div class="gamedesc"><a href="gamedetail_17.html">《糖果星星传奇》是集合了消消乐，打地鼠，连连看，扫...</a></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="game_btn">
                                        <a class="download_btn" href="gamedetail_17.html" title="游戏下载"></a>
                                        <a class="enter_btn" href="gamedetail_17.html" title="进入官网"></a>
                                    </div>
                                </li>
                                <li class="li_paddingright" >
                                    <div>
                                        <div class="gameimg"><img src="images/ImageUpload/Game/xxatg/gamemain.png" width="76" height="76" alt="星星爱糖果" /></div>
                                        <div class="gamedata">
                                            <div class="gametitle"><a href="gamedetail_16.html" title="">星星爱糖果</a></div>
                                            <div class="gamedesc"><a href="gamedetail_16.html">全新模式休闲韩游，多种休闲玩法完美结合。包含消消乐...</a></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="game_btn">
                                        <a class="download_btn" href="gamedetail_16.html" title="游戏下载"></a>
                                        <a class="enter_btn" href="gamedetail_16.html" title="进入官网"></a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="gameimg"><img src="images/ImageUpload/Game/fkld/gamemain.png" width="76" height="76" alt="疯狂雷电2014" /></div>
                                        <div class="gamedata">
                                            <div class="gametitle"><a href="gamedetail_15.html" title="">疯狂雷电2014</a></div>
                                            <div class="gamedesc"><a href="gamedetail_15.html">《疯狂雷电 2014》是一款颠覆传统的移动平台飞行...</a></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="game_btn">
                                        <a class="download_btn" href="gamedetail_15.html" title="游戏下载"></a>
                                        <a class="enter_btn" href="gamedetail_15.html" title="进入官网"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="rightPart">
                        <div class="news">
                            <div class="title">
                                <a class="more" href="InfoList_1.html">更多>></a>
                                <img src="images/Default/news_bulletin.png" alt="新闻公告" width="78" height="36"/>
                            </div>
                            <div class="newsdata">
                                <ul>
                                   <li><span>[12-24]</span><a href="InfoDetail_16.html" title="[平台] 《雷炎战机_云霄突袭》双旦有惊喜，新年天天送豪礼">[《雷炎战机_云霄突袭》双旦有惊喜，新年天天送豪礼</a></li>
                                   <li><span>[11-18]</span><a href="InfoDetail_14.html" title="[萌侠] 《萌侠》装备锻造大揭秘 强化篇">[萌侠] 《萌侠》装备锻造大揭秘 强化篇</a></li>
                                   <li><span>[11-18]</span><a href="InfoDetail_9.html" title="[萌侠] Q萌武侠《萌侠》11月19日不删档内测">[萌侠] Q萌武侠《萌侠》11月19日不删档内测</a></li>
                                   <li><span>[11-18]</span><a href="InfoDetail_8.html" title="[平台] 西山居何榛杰：让RPG扮演元素重回游戏重心">[平台] 西山居何榛杰：让RPG扮演元素重回游戏重心</a></li>
                                   <li><span>[11-18]</span><a href="InfoDetail_7.html" title="[平台] 休闲动作《恐怖!特技滑翔伞》登陆双平台">[平台] 休闲动作《恐怖!特技滑翔伞》登陆双平台</a></li>
                                   <li><span>[11-17]</span><a href="InfoDetail_3.html" title="[红警4] 《红警4》4.5.3版本更新日志">[红警4] 《红警4》4.5.3版本更新日志</a></li>
                                   <li><span>[11-17]</span><a href="InfoDetail_2.html" title="[红警4] 《红警4》紫色英雄黑寡妇降临">[红警4] 《红警4》紫色英雄黑寡妇降临</a></li>
                                   <li><span>[11-17]</span><a href="InfoDetail_13.html" title="[萌侠] 《萌侠》人物养成之天赋培养篇">[萌侠] 《萌侠》人物养成之天赋培养篇</a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="service">
                            <div class="title">
                                <img src="images/Default/contact_us.png" alt="联系我们" width="78" height="36"/>
                            </div>
                            <div class="servicedata">
                                <div class="serviceqq">客服 QQ  ：2355652079</div>
                                <div class="email">客服信箱  ：13416445011@139.com</div>
                                <div class="qqun">玩家交流群：339093384</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="FriendLink">
                    <div class="title">
                        <img src="images/Default/links.png" alt="友情链接" width="78" height="36"/>
                    </div>
                    <div class="FriendLinkData">
                        <ul>
                            <li>
                                <span>|</span>
                                <a href="http://www.baidu.com/" target="_blank" title="百度">百度</a>
                                <span>|</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blank40"></div>
            </div>
        </div>