<div class="content">
<div class="leftPart">
    <div class="recommgame">
        <div class="title">
            <span class="position"><a href="index.html">首页</a>>游戏中心</span>
            <img src="images/Default/recommend.png" alt="游戏推荐" width="78" height="36"/>
        </div>
        <div class="recommdata">
            <ul>
                <li>
                    <div class="recommbroad">
                        <div class="hoverbefore">
                            <img src="images/ImageUpload/Game/mengxian/recom.jpg" alt="萌仙" width="182"
                                 height="191"/>

                            <div>
                                <span>萌仙</span>
                                <img src="images/Default/andriod.jpg" width="23" height="23" alt="andriod"/>
                            </div>
                        </div>
                        <div class="hovered">
                            <div>
                                <img src="images/ImageUpload/Game/mengxian/Android2DCode/635518406586495000.png"
                                     width="110" height="110" alt="萌仙Andriod版下载二维码"/>
                                <span>下载Andriod版</span>
                            </div>
                            <a href="gamedetail_14.html"><img src="images/Default/otherdown.jpg" alt="其他下载"/></a>
                            <a href="gamedetail_14.html"><img src="images/Default/enter_gameweb.jpg"
                                                              alt="进入官网"/></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="recommbroad">
                        <div class="hoverbefore">
                            <img src="images/ImageUpload/Game/mengxia/recom.jpg" alt="萌侠" width="182" height="191"/>

                            <div>
                                <span>萌侠</span>
                                <img src="images/Default/andriod.jpg" width="23" height="23" alt="andriod"/>
                            </div>
                        </div>
                        <div class="hovered">
                            <div>
                                <img src="images/ImageUpload/Game/mengxia/Android2DCode/635518413140557500.png"
                                     width="110" height="110" alt="萌侠Andriod版下载二维码"/>
                                <span>下载Andriod版</span>
                            </div>
                            <a href="gamedetail_19.html"><img src="images/Default/otherdown.jpg" alt="其他下载"/></a>
                            <a href="gamedetail_19.html"><img src="images/Default/enter_gameweb.jpg"
                                                              alt="进入官网"/></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="recommbroad">
                        <div class="hoverbefore">
                            <img src="images/ImageUpload/Game/l/recom.jpg" alt="雷炎战机云霄突袭" width="182" height="191"/>

                            <div>
                                <span>雷炎战机云霄突袭</span>
                                <img src="images/Default/andriod.jpg" width="23" height="23" alt="andriod"/>
                            </div>
                        </div>
                        <div class="hovered">
                            <div>
                                <img src="images/ImageUpload/Game/l/Android2DCode/635561644096398750.png"
                                     width="110" height="110" alt="雷炎战机云霄突袭Andriod版下载二维码"/>
                                <span>下载Andriod版</span>
                            </div>
                            <a href="gamedetail_20.html"><img src="images/Default/otherdown.jpg" alt="其他下载"/></a>
                            <a href="gamedetail_20.html"><img src="images/Default/enter_gameweb.jpg"
                                                              alt="进入官网"/></a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="gamelist">
        <div class="title">
            <img src="images/Default/game_list.png" alt="游戏列表" width="78" height="36"/>
        </div>
        <div class="gamelistdata">
            <ul>
                <li>
                    <div class="left">
                        <a href="gamedetail_19.html"><img src="images/ImageUpload/Game/mengxia/gamemain.png"
                                                          width="108" height="108" alt="萌侠"/></a>
                    </div>
                    <div class="left listcontent">
                        <div>萌侠</div>
                        <div class="listdata">
                            《萌侠》融合武侠的武学、经脉、绝技等特色玩法；以偏Q版的画风、炫丽的技能效果，让玩家沉醉于爽快的战斗当中；还能呼朋唤友、结识朋友，为玩家营造一个异彩缤纷的武侠世界！
                        </div>
                        <div class="listbottom">
                            <span>推荐指数：</span>
                            <span class="recomNum" style="width: 89px"></span>
                            <a href="gamedetail_19.html"><img src="images/Default/list_enter.png" width="85"
                                                              height="20" alt="点击进入"/></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="left">
                        <a href="gamedetail_20.html"><img src="images/ImageUpload/Game/l/gamemain.png" width="108"
                                                          height="108" alt="雷炎战机云霄突袭"/></a>
                    </div>
                    <div class="left listcontent">
                        <div>雷炎战机云霄突袭</div>
                        <div class="listdata">雷炎战机是一款飞行射击类游戏，沿袭传统飞行射击游戏的关卡设计，通过完成任务来解锁关卡，畅爽的射击体验，惊心动魄的炮弹轰击。</div>
                        <div class="listbottom">
                            <span>推荐指数：</span>
                            <span class="recomNum" style="width: 89px"></span>
                            <a href="gamedetail_20.html"><img src="images/Default/list_enter.png" width="85"
                                                              height="20" alt="点击进入"/></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="left">
                        <a href="gamedetail_14.html"><img src="images/ImageUpload/Game/mengxian/gamemain.png"
                                                          width="108" height="108" alt="萌仙"/></a>
                    </div>
                    <div class="left listcontent">
                        <div>萌仙</div>
                        <div class="listdata">拥有精美的游戏画面和独特的跨职业技能玩法、部族发展经营玩法；拥有特色养成、精彩战斗和经营玩法三大特色玩法。拥有战士、猎
                            手、祭司三大职业，分别在体能、灵巧与破坏力上各具优势，每个角色拥有六大属性，可以按自己的想法自由配置属性成长，打造自己的个性角色！
                        </div>
                        <div class="listbottom">
                            <span>推荐指数：</span>
                            <span class="recomNum" style="width: 89px"></span>
                            <a href="gamedetail_14.html"><img src="images/Default/list_enter.png" width="85"
                                                              height="20" alt="点击进入"/></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="left">
                        <a href="gamedetail_15.html"><img src="images/ImageUpload/Game/fkld/gamemain.png"
                                                          width="108" height="108" alt="疯狂雷电2014"/></a>
                    </div>
                    <div class="left listcontent">
                        <div>疯狂雷电2014</div>
                        <div class="listdata">《疯狂雷电
                            2014》是一款颠覆传统的移动平台飞行射击类游戏。游戏节奏紧张刺激，惊险不断，火爆华丽的弹幕效果将游戏的精彩程度发挥得淋漓尽致，丰富的升级内容和多样的战机风格，令游戏精彩无限。
                        </div>
                        <div class="listbottom">
                            <span>推荐指数：</span>
                            <span class="recomNum" style="width: 74px"></span>
                            <a href="gamedetail_15.html"><img src="images/Default/list_enter.png" width="85"
                                                              height="20" alt="点击进入"/></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="left">
                        <a href="gamedetail_17.html"><img src="images/ImageUpload/Game/tgxxcq/gamemain.png"
                                                          width="108" height="108" alt="糖果星星传奇"/></a>
                    </div>
                    <div class="left listcontent">
                        <div>糖果星星传奇</div>
                        <div class="listdata">
                            《糖果星星传奇》是集合了消消乐，打地鼠，连连看，扫泥巴等多种休闲玩法的萌萌哒的精品游戏。如果说你想体验不同的泡泡游戏，想感受各种道具的乐趣，这就是你的答案！一个神秘的，创新的和有趣的游戏，一个震撼的惊喜！
                        </div>
                        <div class="listbottom">
                            <span>推荐指数：</span>
                            <span class="recomNum" style="width: 74px"></span>
                            <a href="gamedetail_17.html"><img src="images/Default/list_enter.png" width="85"
                                                              height="20" alt="点击进入"/></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="listpage">
        <div id="pagingbar" class="pagingbar">
            <div class="blue"><span class="disabled pager_first">首页</span><span
                    class="disabled pager_per">上一页</span><span class="current">1</span><a
                    href="gamelist_2.html">2</a><a href="gamelist_3.html">3</a><a href="gamelist_4.html">4</a><a
                    class="pager_next" href="gamelist_2.html">下一页</a><a class="pager_last"
                                                                        href="gamelist_4.html">尾页</a></div>
        </div>
    </div>
</div>

<div class="rightPart">
    <div class="news">
        <div class="title">
            <a class="more" href="InfoList_1.html">更多>></a>
            <img src="images/Default/news_bulletin.png" alt="新闻公告" width="78" height="36"/>
        </div>
        <div class="newsdata" style="height: 341px;">
            <ul>
                <li><a href="InfoDetail_16.html" title="[平台] 《雷炎战机_云霄突袭》双旦有惊喜，新年天天送豪礼">[平台]
                    《雷炎战机_云霄突袭》双旦有惊喜，新年天天送豪礼</a><span>[12-24]</span></li>
                <li><a href="InfoDetail_14.html" title="[萌侠] 《萌侠》装备锻造大揭秘 强化篇">[萌侠] 《萌侠》装备锻造大揭秘
                    强化篇</a><span>[11-18]</span></li>
                <li><a href="InfoDetail_9.html" title="[萌侠] Q萌武侠《萌侠》11月19日不删档内测">[萌侠] Q萌武侠《萌侠》11月19日不删档内测</a><span>[11-18]</span>
                </li>
                <li><a href="InfoDetail_8.html" title="[平台] 西山居何榛杰：让RPG扮演元素重回游戏重心">[平台]
                    西山居何榛杰：让RPG扮演元素重回游戏重心</a><span>[11-18]</span></li>
                <li><a href="InfoDetail_7.html" title="[平台] 休闲动作《恐怖!特技滑翔伞》登陆双平台">[平台] 休闲动作《恐怖!特技滑翔伞》登陆双平台</a><span>[11-18]</span>
                </li>
                <li><a href="InfoDetail_3.html" title="[红警4] 《红警4》4.5.3版本更新日志">[红警4]
                    《红警4》4.5.3版本更新日志</a><span>[11-17]</span>
                </li>
                <li><a href="InfoDetail_2.html" title="[红警4] 《红警4》紫色英雄黑寡妇降临">[红警4]
                    《红警4》紫色英雄黑寡妇降临</a><span>[11-17]</span></li>
                <li><a href="InfoDetail_13.html" title="[萌侠] 《萌侠》人物养成之天赋培养篇">[萌侠]
                    《萌侠》人物养成之天赋培养篇</a><span>[11-17]</span></li>
                <li><a href="InfoDetail_4.html" title="[猫之战争] 猫之战争Cat War v1.0 策略塔防游戏">[猫之战争] 猫之战争Cat War v1.0
                    策略塔防游戏</a><span>[11-16]</span></li>
                <li><a href="InfoDetail_10.html" title="[平台] 疯狂射击怎么操作 游戏操作技巧详解">[平台] 疯狂射击怎么操作
                    游戏操作技巧详解</a><span>[11-16]</span>
                </li>
                <li><a href="InfoDetail_11.html" title="[平台] 经典再续《愤怒的小鸟卡丁车》修改版介绍">[平台] 经典再续《愤怒的小鸟卡丁车》修改版介绍</a><span>[11-15]</span>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="service">
        <div class="title">
            <img src="images/Default/contact_us.png" alt="联系我们" width="78" height="36"/>
        </div>
        <div class="servicedata">
            <div class="serviceqq">客服 QQ ：2401846935</div>
            <div class="email">客服信箱 ：13416445011@139.com</div>
            <div class="qqun">玩家交流群：339093384</div>
        </div>
    </div>
</div>
<div class="blank40"></div>
</div>